<header class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <form class="form-group">
        <div class="col-md-4 d-flex search" >
         <!--  <input
            type="text"
            [(ngModel)]="buscador"
            name="buscador"
            (ngModelChange)="buscarProducto()"
            id="buscador"
            class="form-control"
            placeholder="Buscar producto"
          /> -->
          <input
            type="text"
            ngModel
            name="buscador"
            (ngModelChange)="buscarProducto($event)"
            id="buscador"
            class="form-control"
            placeholder="Buscar producto"
          />
          <label class="input-group-text" for="buscador">
            <img  src="../../../assets/busqueda.svg" alt="Search">
           </label>
         <!--  <span class="input-group-text" id="addon-wrapping">
            <img  src="../../../assets/busqueda.svg" alt="Search">
          </span> -->
        </div>
        <!--<flash-messages></flash-messages>-->
        <div class="alert alert-primary" *ngIf="divMessage">{{alerta}}</div>
        

      </form>
    </div>
  </div>
</header>
<section>
<div class="container">
  <div class="row">
    <div class="col-md-9 mt-2 mx-auto">
      <table class="table table-striped table-hover">
        <thead>
          <th>#</th>
          <th>Id</th>
          <th>Descripcion</th>
          <th>Costo Producto</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let producto of productos; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ producto.idProducto}}</td>
            <td>{{ producto?.desProducto }}</td>
            <td>{{ producto?.costoProd | currency : "MNX" : "$" : "1.1-2" }}</td>
            <td>
              <a
                  class="btn btn-primary btn-block"
                  data-bs-toggle="modal"
                  data-bs-target="#agregarClienteModal"
                  
                  class="btn btn-secondary"
                  >
                    <i class="fas fa-angle-double-right"></i>Editar
                  </a>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="eliminarProducto(producto.idProducto!)"><i class="fas fa-trash"></i> Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>
<div class="modal fade" id="agregarClienteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Agregar Producto</h5>
        <button class="close" data-bs-dismiss="modal" #botonCerrar>
          <span>&times;</span>
        </button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto ">
                <div class="form-group">
                  <label for="nombreProd">Nombre Producto: </label>
                  <input type="text" name="nombreProd" class="form-control" >
                </div>
                <div class="form-group">
                  <label for="costoProd">Costo: </label>
                  <input type="text" name="costoProd" class="form-control">
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </form>
    </div>
  </div>
</div>      
